<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.LetucOJ.practice.repos.MybatisRepos">

    <sql id="problemCriteria">
        <where>
            <if test="onlyPublic != null and onlyPublic == true">
                AND public = 1
            </if>
            <if test="like != null and like != ''">
                AND (
                problem_nick_name LIKE CONCAT('%', #{like}, '%')
                OR tags LIKE CONCAT('%', #{like}, '%')
                OR content LIKE CONCAT('%', #{like}, '%')
                )
            </if>
        </where>
    </sql>

    <select id="selectProblemList" parameterType="com.LetucOJ.practice.model.DTO.ListConditionDTO" resultType="com.LetucOJ.practice.model.ProblemBrief">
        SELECT problem_name, problem_nick_name, tags, difficulty, 0 AS accepted
        FROM problem
        <include refid="problemCriteria"/>
        ORDER BY ${order}
        LIMIT #{start}, #{limit}
    </select>

    <select id="countProblemList" parameterType="com.LetucOJ.practice.model.DTO.ListConditionDTO" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM problem
        <include refid="problemCriteria"/>
    </select>

    <select id="selectProblemDetail" resultType="com.LetucOJ.practice.model.Problem">
        SELECT problem_name, problem_nick_name, case_amount, difficulty, tags, authors, create_time, update_time, content, freq,
        public &gt; 0 AS publicProblem, solution, show_solution
        FROM problem
        WHERE problem_name = #{problemName}
        <if test="onlyPublic != null and onlyPublic == true">
            AND public = 1
        </if>
    </select>

    <select id="getStatus" resultType="com.LetucOJ.practice.model.ProblemStatus">
        SELECT public &gt; 0 AS publicProblem, show_solution &gt; 0 AS showSolution, case_amount
        FROM problem
        WHERE problem_name = #{problemName}
    </select>

    <update id="incrementCaseAmount">
        UPDATE problem
        SET case_amount = case_amount + 1
        WHERE problem_name = #{problemName}
    </update>

    <insert id="insertProblem" parameterType="com.LetucOJ.practice.model.Problem">
        INSERT INTO problem
        (problem_name, problem_nick_name, case_amount, difficulty, tags, authors, create_time, update_time, content, freq, public, solution, show_solution)
        VALUES
            (#{problemName}, #{problemNickName}, #{caseAmount}, #{difficulty}, #{tags}, #{authors}, #{createtime}, #{updateTime}, #{content}, #{freq}, #{publicProblem}, #{solution}, #{showSolution})
    </insert>

    <update id="updateProblem" parameterType="com.LetucOJ.practice.model.Problem">
        UPDATE problem
        SET problem_nick_name = #{problemNickName},
            case_amount = #{caseAmount},
            difficulty = #{difficulty},
            tags = #{tags},
            authors = #{authors},
            update_time = #{updateTime},
            content = #{content},
            freq = #{freq},
            public = #{publicProblem},
            solution = #{solution},
            show_solution = #{showSolution}
        WHERE problem_name = #{problemName}
    </update>

    <delete id="deleteProblem">
        DELETE FROM problem WHERE problem_name = #{problemName}
    </delete>

    <select id="selectRecordList" resultType="com.LetucOJ.practice.model.DTO.SubmitRecordDTO">
        SELECT * FROM record
        <where>
            <if test="user_name != null and user_name != ''">
                user_name = #{userName}
            </if>
        </where>
        ORDER BY submit_time DESC
        `LIMIT` #{start}, #{limit}
    </select>

    <select id="countRecordList" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM record
        <where>
            <if test="user_name != null and user_name != ''">
                user_name = #{userName}
            </if>
        </where>
    </select>

    <insert id="insertRecord" parameterType="com.LetucOJ.practice.model.DTO.SubmitRecordDTO">
        INSERT INTO record
        (trace_id, user_name, user_nick_name, problem_name, language, code, result, use_time, use_memory, submit_time)
        VALUES
            (#{traceId}, #{userName}, #{userNickName}, #{problemName}, #{language}, #{code}, #{result}, #{timeUsed}, #{memoryUsed}, #{submitTime})
    </insert>

    <select id="getCorrectByName" resultType="java.lang.String">
        SELECT problem_name FROM correct WHERE user_name = #{userName}
    </select>

    <insert id="insertCorrect">
        INSERT IGNORE INTO correct (user_name, problem_name) VALUES (#{userName}, #{problemName})
    </insert>

    <select id="checkCorrect" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM correct WHERE user_name = #{userName} AND problem_name = #{problemName}
    </select>

</mapper>